.mobile-nav.container
        +image("one.png","one Log","30px","30px")
        h3 One Media 
        label(for="side-nav-check")
            i.fas.fa-bars 
        input(type="checkbox" id="side-nav-check" class="side-nav-check")
        .side-nav-wrapper 
            ul.dropdown-menu 
                - const menuItems = ["ပြည်တွင်း","မန္တလေးသတင်း","ဆောင်းပါး","နိုင်ငံတကာ","အခြား"]
                each item,i in menuItems 
                    if i != 4
                        li 
                            a(href="#")= item
                    else 
                        li 
                            a(href="#")= item 
                            label(for="inner-menu-check")
                                i.fas.fa-sort-down
                            input(type="checkbox" id="inner-menu-check" class="inner-menu-check" name="inner-menu-check")
                            - const innerItems = ["အားကစား","ရွှေ ငွေ စေ◌ျး","နည်းပညာ","အယ်ဒီတာ့ အာဘော်","ဆက်သွယ်ရန်"]
                            ul.inner-dropdown 
                                each itm in innerItems 
                                    li
                                        a(href="#")= itm