include partials/_mixins
include partials/_top
    include partials/_mobile_nav 
    include partials/_header
    include partials/_nav
    include indexs/_slide


                
    include partials/_base
    